@import 'subscribe';

.block {
	min-width: 200px;
	padding: 20px;
}
/*
.blocks div:first-child {
	padding-left: 0;
}
.blocks div:last-child {
	padding-right: 0;
}*/


.cover-image{
	background-image: url('../images/blur.png');
	height:60%;
}
.feature-text {
	padding-top: 0px;
}
.works-subcard {
	padding: 10px;
	overflow: hidden;
}
