
.block {
	min-width: 200px;
	padding: 20px;
}

.cover-image{
	background-image: url('../images/blur.png');
	height:60%;
}
.feature-text {
	padding-top: 0px;
}
.works-subcard {
	padding: 10px;
	overflow: hidden;
}
.team-card {
	text-align: center;
	width: 150px;
	height: auto;
	float:left;
	padding: 10px;
}