/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

@import 'subscribe';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Roboto Condensed',Helvetica,Arial,sans-serif;
  font-weight: 300;
  background-color: #fff;
  background: #eee;
  box-sizing: border-box;
  min-height: 100%;
}

body.open, .app-bar {
  overflow: hidden;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #C8C8C8;
  background-color: #2F2F2F;
  z-index: 1;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  flex-direction: row;
  margin: 0 auto;
}

.app-bar.open, .app-bar.open ~ main {
  transform: translate(250px, 0);
}

.app-bar .logo {
  flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  display: initial;
  background: url(../images/ls/apistarterlogo-wh.png);
  background-position-y: 20px;
  text-indent: -9999px;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

.app-bar-actions {
  display: flex;
  flex-direction: row;
  z-index: 2;
}

.app-bar button {
  width: 60px;
  height: 60px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: inline-block;
  transition: background-color .2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  height: 24px;
  width: 24px;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.promote-layer {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base, p, ul, ol {
  font-size: 19px;
}

.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: #898989;
  color: #fefefe;
  transform: translate(-250px, 0);
  overflow-y: auto;
}

.navdrawer-container.open {
  transform: translate(0, 0);
}

.app-bar, .navdrawer-container.opened, main {
  transition: transform .3s ease-out;
}

.navdrawer-container h4, .navdrawer-container ul li a {
  height: 60px;
  padding: 17px 20px;
  line-height: 1.4;
}

.navdrawer-container h4 {
  background-color: #fff;
  color: #3367D6;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  transition: background-color .2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #fff;
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  margin: 0 auto;
  min-height: 200px;
}

.product-header {
  padding: 50px;
  max-height: 390px;
}

.title-img {
  margin: 50px auto 0;
  display: block;
  animation: titlein 2s ease-out;
}

.title {
  display: block;
  animation: titlein 2s ease-in;
  max-width: 100%;
  text-indent: -9999px;
  background: url(../images/ls/Logo-transparent.png);
  background-repeat: no-repeat;
  background-position-y: 50px;
  height: 241px;
  max-height: 200px;
  width: 500px;
  margin: 0 auto 50px;
}

.title, .subtitle {
  background-size: contain;
}

.subtitle {
  background: url(../images/ls/Logo-header.png);
  height: 50px;
  background-position-y: -120px;
}

@keyframes titlein {
  from {
    opacity: 0;
    margin-top: 80px;
  }
  to {
    opacity: 1;
    margin-top: 50px;
  }
}
.chrome-link:visited {
  color: #fff;
}

.chrome-link:hover {
  background: #194989;
}

.chrome-link {
  margin: 0 auto;
  display: block;
  animation: buttonin 2s ease-out;
  width: 225px;
  color: #fff;
  background: #2C6FDF;
}

@keyframes buttonin {
  0%,50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gradient {
  background: linear-gradient(cyan, transparent), linear-gradient(-45deg, magenta, transparent), linear-gradient(45deg, #ff0, transparent);
  background-blend-mode: multiply;
}

.clear {
  clear: both;
}

.img1, .img2 
.img3, .img4 {
  -webkit-animation-timing-function: ease-in;
}

.img1 {
  -webkit-animation: GoLayer1 8s infinite;
}

.img2 {
  -webkit-animation: GoLayer2 8s infinite;
}

.img3 {
  -webkit-animation: GoLayer3 8s infinite;
}

.img4 {
  -webkit-animation: GoLayer4 8s infinite;
}

.img1, .img2, .img3, .img4 {
  width: 456px;
  height: 560px;
}

.demo-img1, .demo-img2, .demo-img3 {
  width: 640px;
  height: 400px;
}
.img1, .img2, .img3, .img4, .demo-img1, .demo-img2, .demo-img3 {
  position: absolute;
  max-width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.prod-imgs {
  margin: 0 auto;
  position: relative;
  min-height: 600px;
  width: 456px;
  max-width: 100%;
}
.prod-img {
  margin: 0 auto;
  display: block;
}
.demo-imgs {
  margin: 0 auto;
  position: relative;
  min-height: 400px;
  width: 640px;
  max-width: 100%;
  max-height: 500px;
  overflow: hidden;
}

.center, .demos {
  text-align: center;
}

.demos {
  margin: 40px auto;
  padding: 30px;
}

.demos img {
  padding: 10px;
}

.gradient1, .gradient2, .gradient3, .gradient4 {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
}

.img1 {
  background-image: url(../images/ls/ls1.png);
}

.img2 {
  background-image: url(../images/ls/ls2.png);
}

.img3 {
  background-image: url(../images/ls/ls3.png);
}

.img4 {
  background-image: url(../images/ls/ls4.png);
}

.gradient1 {
  background-image: linear-gradient(top, #fffef2 0%, #eaeae2 50%);
}

.gradient2 {
  background-image: linear-gradient(top, #fffeff 0%, #dae0f6 50%);
}

.gradient3 {
  background-image: linear-gradient(top, #ef8324 0%, #f8bb5d 50%);
}

.gradient4 {
  background-image: linear-gradient(top, #2a2a2a 0%, #352837 50%);
}

.gradient-demos {
  background-image: linear-gradient(top, #ef8324 0%, #f8bb5d 50%);
}

.gradient1 {
  -webkit-animation: GoLayer1 12s infinite;
}

.gradient2 {
  -webkit-animation: GoLayer2 12s infinite;
}

.gradient3 {
  -webkit-animation: GoLayer2 8s infinite;
}

.gradient4 {
  -webkit-animation: GoLayer4 8s infinite;
}


@keyframes GoLayer1 {
  5%,20% {
    opacity: 1;
  }
  0%, 25%,100% {
    opacity: 0;
  }
}
@keyframes GoLayer2 { 
  30%,45% {
    opacity: 1;
  }
  0%,25%,50%,100% {
    opacity: 0;
  }
}
@keyframes GoLayer3 {
  55%,70% {
    opacity: 1;
  }
  0%,50%,75%,100% {
    opacity: 0;
  }
}
@keyframes GoLayer4 {
  80%,95% {
    opacity: 1; 
  }
  0%,75%,100% {
    opacity: 0;
  }
}
@keyframes GoLayer5 {
  76%,100% {
    opacity: 1;
  }
  0%,75% {
    opacity: 0;
  }
}


.demo-img1 {
  background-image: url(../images/ls/demo1.png);
}

.demo-img2 {
  background-image: url(../images/ls/demo2.png);
}

.demo-img3 {
  background-image: url(../images/ls/demo3.png); 
}

.demo-img1, .demo-img2, .demo-img3 {
  animation-timing-function: ease-in;
}
.demo-img1 {
  animation: slide1 10s infinite;
}

.demo-img2 {
  animation: slide2 10s infinite;
}

.demo-img3 {
  animation: slide3 10s infinite;
}

@keyframes slide1 {
  0% {
    left: 1000px;
  }
  1%,33% {
    left: 0;
  }
  34%,100% {
    left: -1000px;
  }
}
@keyframes slide2 {
  0%,33% {
    left: 1000px;
  }
  34%, 66% {
    left: 0;
  }
  67%,100% {
    left: -1000px;
  }
}
@keyframes slide3 {
  0%,66% {
    left: 1000px;
  }
  67%,100% {
    left: 0;
  }
}

.twist {
  transform: rotate(-1.5deg);
  width: 106%;
  margin: 0 -20px;
}
.antitwist {
  transform: rotate(1.5deg);
}

.twist2 {
  transform: rotate(1.5deg);
  width: 106%;
  margin: 0 -20px;
}
.antitwist2 {
  transform: rotate(-1.5deg);
}


@media all and (min-width: 400px) {
  .app-bar {
    position: relative;
  }

  .app-bar.open, .app-bar.open ~ main {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .app-bar-container {
    display: block;
    height: 60px;
    max-width: 864px;
    padding: 0 16px;
    box-sizing: border-box;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 60px;
    font-size: 46px;
    background: url(../images/ls/apistarterlogo-wh.png);
    background-position-y: 20px;
    text-indent: -9999px;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  .navdrawer-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: none;
    transition: none;
    overflow-y: auto;
  }

  .navdrawer-container h4 {
    display: none;
  }

  .navdrawer-container ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 864px;
    margin: 0 auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navdrawer-container ul li {
    border: none;
  }

  main {
    max-width: 864px;
    padding-top: 0;
    min-height: initial;
  }

  body {
    overflow-y: scroll;
  }
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-Light.eot);
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(/fonts/RobotoCondensed-Light.eot) format("embedded-opentype"), url(/fonts/RobotoCondensed-Light.woff) format("woff");
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Regular.eot);
  src: local("Roboto Condensed Regular"), local("RobotoCondensed-Regular"), url(/fonts/RobotoCondensed-Regular.eot) format("embedded-opentype"), url(/fonts/RobotoCondensed-Regular.woff) format("woff");
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-Bold.eot);
  src: local("Roboto Condensed Regular"), local("RobotoCondensed-Bold"), url(/fonts/RobotoCondensed-Bold.eot) format("embedded-opentype"), url(/fonts/RobotoCondensed-Bold.woff) format("woff");
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-LightItalic.eot);
  src: local("Roboto Condensed Light Italic"), local("RobotoCondensed-LightItalic"), url(/fonts/RobotoCondensed-LightItalic.eot) format("embedded-opentype"), url(/fonts/RobotoCondensed-LightItalic.woff) format("woff");
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Italic.eot);
  src: local("Roboto Condensed Italic"), local("RobotoCondensed-Italic"), url(/fonts/RobotoCondensed-Italic.eot) format("embedded-opentype"), url(/fonts/RobotoCondensed-Italic.woff) format("woff");
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-BoldItalic.eot);
  src: local("Roboto Condensed Bold Italic"), local("RobotoCondensed-BoldItalic"), url(/fonts/RobotoCondensed-BoldItalic.eot) format("embedded-opentype"), url(/fonts/RobotoCondensed-BoldItalic.woff) format("woff");
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 